@import url("http://fonts.cdnfonts.com/css/sofia-pro");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Work+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  background: #f2f6fa 0% 0% no-repeat padding-box !important;
  opacity: 1;
  margin: 0px !important;
}

.header {
  top: 0px;
  left: 0px;
  height: 138px;
  /* UI Properties */
  background: transparent linear-gradient(112deg, #028cf3 0%, #2feaa8 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(112deg, #028cf3 0%, #2feaa8 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
}

.top-header-text {
  color: #ffffff;
  text-align: left;
  font: normal normal normal 24px/37px Sofia Pro;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin: 0px;
}

.tab-body {
  background: #ffffff 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 16px 16px;
  opacity: 1;
}

.tab-body-filter {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 16px 16px;
  opacity: 1;
  height: 56px;
}

.tab-container {
  margin-left: 20px !important;
}

.MuiTabs-flexContainer.css-heg063-MuiTabs-flexContainer {
  height: 56px;
}

span.MuiTabs-indicator {
  height: 4px;
  border-radius: 20px 20px 0px 0px !important;
}

button#simple-tab-1,
button#simple-tab-0 {
  font-size: 16px !important;
  color: #5f6473;
  text-align: left;
  font: normal normal normal 16px/24px Sofia Pro;
  letter-spacing: 0px;
  color: #5f6473;
  opacity: 1;
}

button.Mui-selected {
  color: #028cf3 !important;
  font-weight: 600 !important;
  color: #028cf3;
}

.hotel-header {
  height: 64px;
  border: 2px solid #ffffff;
  background: #f6f8fa 0% 0% no-repeat padding-box;
  border: 2px solid #ffffff;
  border-radius: 16px 16px 0px 0px;
  opacity: 1;
}

.daterange-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px 5px;
  text-align: center;
  border: 2px solid #ffffff;
  background: #f6f8fa 0% 0% no-repeat padding-box;
  border: 2px solid #ffffff;
  border-radius: 10px;
  min-height: 35px;
}

.hotel-header-title3 {
  color: #2c3246;
  text-align: left;
  font: normal normal bold 16px/24px Sofia Pro;
  letter-spacing: 0px;
  color: #2c3246;
  opacity: 1;
  font-size: 16px;
  margin: 5px 0 5px 0;
}

.prop-header-title1 {
  color: #2c3246;
  text-align: left;
  font: normal normal bold 14px/20px Roboto;
  letter-spacing: 0px;
  color: #2c3246;
  opacity: 1;
  font-size: 16px;
  margin: 5px 0 5px 0;
}

.hotel-header-title2 {
  color: #5f6473;
  text-align: left;
  font: normal normal normal 12px/18px Sofia Pro;
  letter-spacing: 0px;
  color: #5f6473;
  opacity: 1;
  font-size: 12px;
  margin: 5px 0 5px 0;
}

.hotel-body {
  background: #ffffff 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 1px 8px #0000000a;
          box-shadow: 0px 1px 8px #0000000a;
  border-radius: 0 0 16px 16px;
  opacity: 1;
}

.hotel-body-module-name {
  text-align: left;
  font: normal normal normal 12px/18px Sofia Pro;
  letter-spacing: 0px;
  color: #5f6473;
  opacity: 1;
  font-size: 12px;
  text-decoration: none;
}

.hotel-body-module-value {
  text-align: left;
  font: normal normal medium 14px/19px Roboto;
  letter-spacing: 0px;
  color: #2c3246;
  opacity: 1;
  font-size: 14px;
  text-decoration: none;
  line-height: 26px !important;
}

.MuiBox-root.css-19kzrtu {
  padding: 10px !important;
}

.icon-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.border-bottom {
  border-bottom: 1px solid #ebeef6;
}

.graphbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.top-filter {
  float: right;
}

.MuiBox-root.css-5nwj3y {
  float: right;
}

.MuiIconButton-sizeSmall {
  margin: 0px !important;
}

.filter-icon {
  color: white;
}

.top-header1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.compare-graph {
  background: #ffffff 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 1px 8px #0000000a;
          box-shadow: 0px 1px 8px #0000000a;
  border-radius: 16px;
  opacity: 1;
}

.compare-graph-wrapper {
  width: 100%;
  min-height: 190px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.Filtersection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-right: 15px;
}

.propname-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
}

.propname-section-text {
  text-align: left;
  font: normal normal bold 16px/24px Sofia Pro;
  letter-spacing: 0px;
  color: #2c3246;
  opacity: 1;
  font-size: 16px;
}

.Filtersection-text {
  text-align: right;
  font: normal normal normal 14px/22px Sofia Pro;
  letter-spacing: 0px;
  color: #2c3246;
  opacity: 1;
  font-size: 14px;
}

.checkin-box {
  width: 100%;
  min-height: 75px;
  /* UI Properties */
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 1px 8px #0000000a;
          box-shadow: 0px 1px 8px #0000000a;
  border-radius: 16px;
  opacity: 1;
}

.checkin-box-text2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.maindash-box-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.checkin-box-text1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  text-align: center;
  font: normal normal normal 14px/22px Sofia Pro;
  letter-spacing: 0px;
  color: #2c3246;
  opacity: 1;
  font-size: 14px;
}

.checkin-count {
  text-align: left;
  font: normal normal bold 16px/20px Sofia Pro !important;
  letter-spacing: 0px;
  color: #2c3246;
  opacity: 1;
  font-size: 18px;
  padding-left: 10px;
}

.fsec-body {
  min-height: 226px;
  padding: 10px 20px;
  background: #ffffff 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 1px 8px #0000000a;
          box-shadow: 0px 1px 8px #0000000a;
  border-radius: 16px;
  opacity: 1;
  margin-top: 16px !important;
}

.fsec-body-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fsec-body-header1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.fsec-body-header2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Room-status {
  text-align: left;
  font: normal normal normal 14px/22px Sofia Pro;
  letter-spacing: 0px;
  color: #2c3246;
  opacity: 1;
  font-size: 14px;
}

.Room-status-text {
  text-align: left;
  font: normal normal normal 12px/18px Sofia Pro;
  letter-spacing: 0px;
  color: #5f6473;
  opacity: 1;
  font-size: 12px;
}

.circle {
  width: 12px;
  height: 12px;
  /* UI Properties */
  opacity: 1;
  border-radius: 50px;
}

.roomstatus_count {
  text-align: right;
  font: normal normal normal 12px/18px Sofia Pro;
  letter-spacing: 0px;
  color: #5f6473;
  opacity: 1;
  font-size: 16px;
}

.roomsection1 {
  position: relative;
  top: 2px;
}

.position-top {
  position: relative;
}

.sales-section,
.revenue-section {
  background: #ffffff 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 1px 8px #0000000a;
          box-shadow: 0px 1px 8px #0000000a;
  border-radius: 16px;
  opacity: 1;
  height: 143px;
  margin-top: 15px;
}

.nottoday-graph-section {
  background: #ffffff 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 1px 8px #0000000a;
          box-shadow: 0px 1px 8px #0000000a;
  border-radius: 16px;
  opacity: 1;
  height: 197px;
  margin-top: 15px;
}

.daysettle-balance-section {
  background: #ffffff 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 1px 8px #0000000a;
          box-shadow: 0px 1px 8px #0000000a;
  border-radius: 16px;
  opacity: 1;
  height: 143px;
  margin-top: 15px;
  height: 86px;
}

.sales-section-text {
  text-align: left;
  font: normal normal normal 14px/22px Sofia Pro;
  letter-spacing: 0px;
  color: #2c3246;
  opacity: 1;
  font-size: 14px;
}

.sales-section-amount1 {
  text-align: left;
  font: normal normal bold 16px/24px Roboto;
  letter-spacing: 0px;
  color: #2c3246;
  opacity: 1;
  font-size: 18px;
}

.sales-section-details {
  height: 62px;
  margin-top: 2px !important;
  /* UI Properties */
  border: 2px solid var(--unnamed-color-ffffff);
  background: #f6f8fa 0% 0% no-repeat padding-box;
  border: 2px solid #ffffff;
  border-radius: 0px 0px 16px 16px;
  opacity: 1;
}

.sales-section-details1 {
  height: 62px;
  /* UI Properties */
  border: 2px solid var(--unnamed-color-ffffff);
  background: #f6f8fa 0% 0% no-repeat padding-box;
  border: 2px solid #ffffff;
  opacity: 1;
}

.sales-section-amount-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.pos-sales-section-amount-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.sales-section-amount-details-name {
  text-align: left;
  font: normal normal normal 12px/18px Sofia Pro;
  letter-spacing: 0px;
  color: #5f6473;
  opacity: 1;
  font-size: 12px;
}

.sales-section-amount-details-value1 {
  text-align: center;
  font: normal normal bold 12px/16px Roboto;
  letter-spacing: 0px;
  color: #5F6473;
  opacity: 1;
}

.footer {
  background: #ffffff 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 0px 12px #00000014;
          box-shadow: 0px 0px 12px #00000014;
  border-radius: 16px 16px 0px 0px;
  opacity: 1;
  height: 56px;
  position: fixed;
  bottom: 0;
  left: 0;
}

.footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-text {
  text-align: left;
  font: normal normal normal 12px/18px Sofia Pro;
  letter-spacing: 0px;
  color: #5f6473;
  opacity: 1;
  font-size: 12px;
  margin-left: 10px;
}

.footer-text-active {
  text-align: left;
  font: normal normal normal 12px/18px Sofia Pro;
  letter-spacing: 0px;
  opacity: 1;
  font-size: 12px;
  margin-left: 10px;
  color: #028cf3 !important;
}

.nottoday-first-section-arr {
  padding: 10px 24px 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nottoday-first-section-arr-text {
  text-align: left;
  font: normal normal normal 12px/18px Sofia Pro;
  letter-spacing: 0px;
  color: #5f6473;
  opacity: 1;
  font-size: 12px;
}

.nottoday-first-section-arr-value {
  text-align: right;
  font: normal normal normal 12px/18px Sofia Pro;
  letter-spacing: 0px;
  color: #5f6473;
  opacity: 1;
  font-size: 14px;
}

.fsummay-section {
  min-height: 425px;
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 1px 8px #0000000a;
          box-shadow: 0px 1px 8px #0000000a;
  border-radius: 16px;
  opacity: 1;
}

.table-thead {
  height: 40px;
  background: #f6f8fa 0% 0% no-repeat padding-box;
  opacity: 1;
}

.table-thead th {
  font-size: 15px;
  font: normal normal normal 12px/18px Sofia Pro;
  letter-spacing: 0px;
  color: #5f6473;
  opacity: 1;
  padding: 10px 15px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.table-tbody tr td {
  padding: 10px 10px;
  border-bottom: 1px solid #ede4e4;
  font: normal normal normal 14px/19px sofia Pro;
  letter-spacing: 0px;
  color: #5f6473;
  opacity: 1;
  font-size: 14px;
}

.table-tbody tr:last-child td {
  border: none !important;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flex-both-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.frontdash-text {
  font: normal normal bold 16px/22px Sofia Pro;
  letter-spacing: 1px;
  color: #ffffff;
  opacity: 1;
}

.box-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px !important;
}

.flex-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flex-center1 {
  background: url("./images/logo.png") 0% 0% no-repeat padding-box;
  mix-blend-mode: darken;
  opacity: 1;
  width: 200px;
  height: 102px;
}

.front-view-body {
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#f2f6fa), color-stop(44%, #ffffff), to(#f2f6fa)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #f2f6fa 0%, #ffffff 44%, #f2f6fa 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
}

.daysettle-summary-section {
  background: #ffffff 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 1px 8px #0000000a;
          box-shadow: 0px 1px 8px #0000000a;
  border-radius: 16px;
  opacity: 1;
  margin-bottom: 15px;
}

.daysettle-summary-tabs {
  /* UI Properties */
  background: #f6f8fa 0% 0% no-repeat padding-box;
  border: 2px solid #ffffff;
  opacity: 1;
}

.makeStyles-root-56 {
  height: 18px;
  padding: 0 0;
  min-width: 66px !important;
}

.MuiTab-textColorPrimary {
  min-width: 66px !important;
  height: 18px;
  padding: 0 0;
  text-align: left;
  font: normal normal normal 12px/18px Sofia Pro;
  font-weight: 600 !important;
  letter-spacing: 0px;
  text-transform: uppercase;
  opacity: 1;
  font-size: 12px !important;
}

.css-1ujnqem-MuiTabs-root {
  min-height: 39px !important;
}

.MuiTabs-flexContainer.css-heg063-MuiTabs-flexContainer {
  height: 45px !important;
}

.contra-in {
  text-align: left;
  font: normal normal bold 12px/18px Sofia Pro;
  letter-spacing: 0px;
  color: #2c3246;
  text-transform: uppercase;
  opacity: 1;
}

.contra-amount {
  float: right;
  text-align: right;
  font: normal normal bold 14px/19px sofia Pro;
  letter-spacing: 0px;
  color: #2c3246;
  opacity: 1;
}

.cash-chip {
  float: right;
  background: #a2f6ff;
  border-radius: 4px !important;
  padding: 0px;
  height: 91% !important;
  font: normal normal normal 12px/18px Sofia Pro !important;
  letter-spacing: 0px;
  color: #2c3246;
  opacity: 1;
}

.details-header {
  text-align: left;
  font: normal normal normal 14px/22px Sofia Pro;
  letter-spacing: 0px;
  color: #2c3246;
  opacity: 1;
}

.details-header-amount {
  text-align: right;
  font: normal normal normal 14px/19px sofia Pro;
  letter-spacing: 0px;
  color: #5f6473;
  opacity: 1;
}

.details-body-text {
  text-align: left;
  font: normal normal normal 12px/18px Sofia Pro;
  letter-spacing: 0px;
  color: #5f6473;
  opacity: 1;
}

.frontoffice-logo {
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#378ff5), to(#39b5f6)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #378ff5 0%, #39b5f6 100%) 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 1px 8px #378ff566;
          box-shadow: 0px 1px 8px #378ff566;
  border: 1px solid #378ff5;
  border-radius: 16px;
  opacity: 1;
  height: 100px;
}

.housekeeping-logo {
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#2ec6f0), to(#23dcf0)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #2ec6f0 0%, #23dcf0 100%) 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 1px 8px #2ec6f066;
          box-shadow: 0px 1px 8px #2ec6f066;
  border: 1px solid #2ec6f0;
  border-radius: 16px;
  opacity: 1;
  height: 100px;
}

.mis-logo {
  min-height: 100px !important;
  /* UI Properties */
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#c07ff5), to(#c2a2f5)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #c07ff5 0%, #c2a2f5 100%) 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 1px 8px #c07ff566;
          box-shadow: 0px 1px 8px #c07ff566;
  border: 1px solid #c07ff5;
  border-radius: 16px;
  opacity: 1;
}

.css-a5rdam-MuiGrid-root > .MuiGrid-item {
  padding-top: 0px !important;
}

button#simple-tab-0,
button#simple-tab-1 {
  padding: 0px !important;
  max-width: 50px !important;
  font-size: 12px !important;
  margin-right: 10px;
}

.apexcharts-datalabel-label {
  font: normal normal normal 12px/18px Sofia Pro !important;
  letter-spacing: 0px;
  color: #5f6473;
  opacity: 1;
  font-size: 12px;
}

.tr-header {
  text-align: left !important;
  font: normal normal bold 14px/18px Sofia Pro !important;
  letter-spacing: 0px !important;
  color: #2c3246 !important;
  text-transform: uppercase !important;
  opacity: 1 !important;
}

.apexcharts-datalabel-value {
  font: normal normal bold 20px/24px Sofia Pro;
  letter-spacing: 0px;
  color: #2c3246;
  opacity: 1;
}

.MuiMenu-paper {
  right: 12px !important;
  left: none !important;
  width: 173px !important;
}

.MuiOutlinedInput-input {
  padding: 5px !important;
}

.arrowset {
  position: relative;
  top: -8px;
  z-index: 1;
  float: right;
  margin-right: 15px;
}

.chkin-list-box {
  background: #ffffff 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 1px 8px #0000000a;
          box-shadow: 0px 1px 8px #0000000a;
  border-radius: 16px;
  opacity: 1;
  min-height: 67px;
}

#MuiAccordion-rounded {
  background: #ffffff 0% 0% no-repeat padding-box !important;
  -webkit-box-shadow: 0px 1px 8px #0000000a !important;
          box-shadow: 0px 1px 8px #0000000a !important;
  border-radius: 16px !important;
  opacity: 1;
  min-height: 60px !important;
  margin-bottom: 10px;
  padding: 10px 10px;
}

.MuiAccordion-rounded {
  background: #ffffff 0% 0% no-repeat padding-box !important;
  -webkit-box-shadow: 0px 1px 8px #0000000a !important;
          box-shadow: 0px 1px 8px #0000000a !important;
  border-radius: 16px !important;
  opacity: 1;
  min-height: 40px !important;
}

.guest-name {
  text-align: left;
  font: normal normal bold 12px/18px Sofia Pro;
  letter-spacing: 2px;
  color: #39b5f6;
  text-transform: uppercase;
  opacity: 1;
}

.guest-plan,
.guest-arrivalmode {
  float: right;
  font: normal normal normal 14px/22px Sofia Pro;
  letter-spacing: 0px;
  color: #888c9b;
  opacity: 1;
}

.guest-highbalance {
  float: right;
  font: normal normal bold 14px/22px Roboto;
  letter-spacing: 0px;
  color: #888c9b;
  opacity: 1;
}

.guest-roomno {
  font: normal normal normal 16px/22px Sofia Pro;
  letter-spacing: 0px;
  color: #888c9b;
  opacity: 1;
}

.guest-box {
  background: #ffffff 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 1px 8px #0000000a;
          box-shadow: 0px 1px 8px #0000000a;
  border-radius: 16px;
  opacity: 1;
  min-height: 425px;
  padding: 10px;
}

.guest-info-title,
.check-in-info-title {
  padding: 0px 15px !important;
  height: 40px;
  /* UI Properties */
  background: #007fffa6 0% 0% no-repeat padding-box !important;
  opacity: 1;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.collection-in-info-title {
  padding: 10px;
  height: 40px;
  /* UI Properties */
  background: #007fffa6 0% 0% no-repeat padding-box !important;
  opacity: 1;
}

.guest-info-text,
.check-in-info-text {
  font: normal normal bold 12px/18px Sofia Pro;
  letter-spacing: 0px;
  color: white !important;
  text-transform: uppercase;
  opacity: 1;
}

.collection-in-info-text {
  font: normal normal bold 10px/16px Sofia Pro;
  letter-spacing: 0px;
  color: #fff !important;
  text-transform: uppercase;
  opacity: 1;
  float: right;
}

.guest-info-common-text,
.check-in-info-common-text {
  font: normal normal normal 12px/19px sofia Pro;
  letter-spacing: 0px;
  color: #5f6473;
  opacity: 1;
}

.collection-in-info-common-text {
  font: normal normal normal 12px/19px sofia Pro;
  letter-spacing: 0px;
  float: right;
  color: #5f6473;
  opacity: 1;
}

.receiveamount-label,
.receiveamount-number {
  font: normal normal bold 14px/18px Sofia Pro;
  letter-spacing: 0px;
  color: #2c3246;
  opacity: 1;
}

.settleamount-label,
.settleamount-number {
  font: normal normal bold 14px/16px Sofia Pro;
  letter-spacing: 0px;
  color: #2c3246;
  opacity: 1;
}

.MuiSpeedDialAction-staticTooltipLabel {
  text-align: center;
  background: transparent linear-gradient(112deg, #028cf3 0%, #028cf3 100%) 0% 0% no-repeat padding-box !important;
  color: white !important;
  border-radius: 5px !important;
  min-width: 110px !important;
}

.floating-btn > button {
  background: transparent linear-gradient(112deg, #028cf3 0%, #2feaa8 100%) 0% 0% no-repeat padding-box !important;
}

.MuiSpeedDialAction-fab {
  background: transparent linear-gradient(112deg, #028cf3 0%, #028cf3 100%) 0% 0% no-repeat padding-box !important;
  color: white !important;
}

.MuiSpeedDialAction-staticTooltipLabel {
  width: 150px;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root:before {
  position: relative !important;
}

.flex-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.alert_div {
  text-align: center;
  font: normal normal bold 12px/18px Sofia Pro !important;
  letter-spacing: 0px;
  color: #2c3246 !important;
  opacity: 1;
  text-transform: uppercase;
  background-color: #e5f6fd !important;
}

.norecords {
  text-align: right;
  font: normal normal bold 12px/18px Sofia Pro !important;
  letter-spacing: 0px;
  color: #2c3246 !important;
  text-transform: uppercase;
  opacity: 1;
}

.mangecharges-header {
  background: transparent linear-gradient(112deg, #028cf3 0%, #2feaa8 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
  -webkit-box-shadow: 0px 1px 8px #0000000a !important;
          box-shadow: 0px 1px 8px #0000000a !important;
}

.compare-graph .css-13xfq8m-MuiTabPanel-root {
  padding: 0px !important;
}

.apexcharts-xaxis-label tspan {
  color: #ccc !important;
  font-size: 9px;
}

.dues-expand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px !important;
}

.rdt_TableCol_Sortable > div {
  font: normal normal normal 14px/19px sofia Pro;
  letter-spacing: 0px !important;
  color: #5f6473 !important;
  opacity: 1 !important;
}

.rdt_TableHeadRow {
  height: 40px !important;
  background: #f6f8fa 0% 0% no-repeat padding-box !important;
  opacity: 1;
}

.MuiDataGrid-cell {
  font-size: 12px;
}

.MuiDataGrid-columnHeaderTitle {
  font-size: 14px;
}

@-webkit-keyframes scaleDownUp {
  from {
  }
  to {
    opacity: 0;
    -webkit-transform: scale(1.2);
  }
}

@keyframes scaleDownUp {
  from {
  }
  to {
    opacity: 0;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  -webkit-animation: scaleDownUp 0.5s ease both;
  animation: scaleDownUp 0.5s ease both;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  -webkit-animation: scaleDownUp 0.5s ease both;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  animation: scaleDownUp 0.5s ease both;
}

.alert-enter {
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.alert-enter-active {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: opacity 1300ms, -webkit-transform 1300ms;
  transition: opacity 1300ms, -webkit-transform 1300ms;
  transition: opacity 1300ms, transform 1300ms;
  transition: opacity 1300ms, transform 1300ms, -webkit-transform 1300ms;
}

.alert-exit {
  opacity: 1;
}

.alert-exit-active {
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: opacity 1300ms, -webkit-transform 1300ms;
  transition: opacity 1300ms, -webkit-transform 1300ms;
  transition: opacity 1300ms, transform 1300ms;
  transition: opacity 1300ms, transform 1300ms, -webkit-transform 1300ms;
}

.fade-enter .btn {
  opacity: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.fade-enter-active {
  opacity: 1;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.fade-exit {
  opacity: 1;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.fade-exit-active {
  opacity: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.fade-enter-active,
.fade-exit-active {
  -webkit-transition: opacity 1500ms, -webkit-transform 500ms;
  transition: opacity 1500ms, -webkit-transform 500ms;
  transition: opacity 1500ms, transform 500ms;
  transition: opacity 1500ms, transform 500ms, -webkit-transform 500ms;
}

.scale-up-center {
  -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-200px);
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    -webkit-transform: translateX(0px);
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-200px);
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    -webkit-transform: translateX(0px);
    opacity: 1;
    transform: translateX(0px);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-6-7 11:32:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}

@keyframes slide-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh);
  }
  100% {
    opacity: 0.8;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.MuiAccordionSummary-root {
  width: 100% !important;
  padding: 2px 10px !important;
}

.search-filter {
  height: 35px !important;
  -webkit-box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px !important;
          box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px !important;
}

.placeholder-animation {
  background-color: #f6f8fa !important;
}

.dues-body {
  min-height: 226px;
  padding: 10px 10px;
  background: #ffffff 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 1px 8px #0000000a;
          box-shadow: 0px 1px 8px #0000000a;
  border-radius: 19px;
  opacity: 1;
  margin-top: 16px !important;
}

.versionNo {
  text-align: left;
  font: normal normal normal 14px/18px Sofia Pro;
  letter-spacing: 0px;
  color: #028cf3;
  opacity: 1;
  text-decoration: none;
}

.hr-break {
  margin: 5px 0px !important;
}

.datepicker-text input {
  font-size: 13px !important;
}

.backdrop-spinner {
  opacity: 1;
  -webkit-transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #f2f6fa !important;
  position: absolute !important;
  top: 200px !important;
  width: 100vw !important;
  bottom: 0 !important;
  left: 0 !important;
}

.rs-picker-daterange-panel {
  z-index: 1000 !important;
}

.rs-picker-daterange-menu {
  z-index: 100000 !important;
  left: 17% !important;
}

.kotvalues-swvalues {
  position: relative;
  top: 10px;
}

.rs-picker-menu {
  z-index: 1301 !important;
  top: 25% !important;
}

img.modalclosebtn-daterange {
  position: absolute;
  right: 8px;
  top: 18px;
}

.fadeinfwd {
  -webkit-animation: fadeinfwd 0.55s cubic-bezier(0.77, 0, 0.175, 1) both;
  animation: fadeinfwd 0.55s cubic-bezier(0.77, 0, 0.175, 1) both;
}

@-webkit-keyframes fadeinfwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes fadeinfwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

.slideinbottom {
  -webkit-animation: slideinbottom 0.25s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: slideinbottom 0.25s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes slideinbottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideinbottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.swinginleftbck {
  -webkit-animation: swinginleftbck 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swinginleftbck 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

@-webkit-keyframes swinginleftbck {
  0% {
    -webkit-transform: rotateY(-70deg);
    transform: rotateY(-70deg);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 1;
  }
}

@keyframes swinginleftbck {
  0% {
    -webkit-transform: rotateY(-70deg);
    transform: rotateY(-70deg);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */